/* PORTFOLIO / STYLES / global.css */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-color);
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.small-logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
}

.small-logo:hover {
    opacity: 0.75;
}

button {
    font-weight: 700;
    cursor: pointer;
}

.btn {
    padding: 12px 20px;
    border-radius: 15px;
    width: 99px;
    height: 48px;
    transition: all 0.5s ease-in-out;
}
.btn-filled {
    background-color: var(--accent);
    border: 1.4px solid var(--primary-bg);
}

.btn-outlined {
    background-color: var(--primary-bg);
    border: 1.4px solid var(--text-color);
    color: var(--text-color);
}

.btn-filled:hover {
    background-color: var(--mild-text-color);
    color: var(--accent);
    border: 2px solid var(--accent);
    transform: translateY(-5px);
}

.btn-outlined:hover {
    background-color: var(--mild-text-color);
    color: var(--primary-bg);
    border: 2px solid var(--primary-bg);
    transform: translateY(-5px);
}