/* PORTFOLIO / STYLES / navbar.css */

/* ======== MAIN NAV ======== */
.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: 0 1px rgba(222, 229, 237, 0.1);
    font-size: 1.2rem;
    margin-top: -10px;
}

.nav .nav-links {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}

 .nav-links .nav-link {
    transition: all 0.3s ease;
    border-radius: 8px;
    position: relative;
    width: 95px;
    cursor: pointer;
    text-align: center;
}

 .nav-links .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    background-color: var(--accent);
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.8em;
    height: 2px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

 .nav-links .nav-link:hover::after {
    width: 100%;
    box-shadow: 0 0 0 1em transparent;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    padding-bottom: 10px;
}

/* ======= MOBILE NAV ======== */

.mobile-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin-top: -40px;
}

.mobile-nav-logo {
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 5;
}


.hamburger {
    position: absolute;
    top: 40px;
    right: 40px;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
}

.bar-1,
.bar-2,
.bar-3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    background-color: var(--text-color);
    border-radius: 5px;
}

/* Rotate first bar */
.change .bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar-2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
    transform: translate(0, -11px) rotate(45deg);
}

#mobileMenu {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    transform: translateX(-110%);
    transition: transform 0.6s ease, opacity 1.5s ease;
    background: rgba(222, 229, 237, 0.1);
    height: 100%;
    margin-top: 0;
    padding-top: 150px;
    z-index: 1;
}

#mobileMenu.nav-active {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
    top: 0;
    left: 0;
    width: 100%;
}

#mobileMenu .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
}

#mobileMenu .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    font-size: 1.1rem;
}

#mobileMenu .nav-links .nav-link {
    width: 50%;
    text-align: center;
    padding: 15px 0 15px 0;
    cursor: pointer;
    border-bottom: 1px solid var(--text-color);
    border-radius: 0;
    transition: border 0.8s ease, transform 0.3s ease-in-out;
}

#mobileMenu .nav-links .nav-link:hover {
    border-bottom: 1px solid rgba(222, 229, 237, 0);
}


#mobileMenu .nav-links .nav-link::after {
    bottom: 0;
}

.btns {
    display: flex;
    gap: 30px;
    width: 80%;
    justify-content: center;
}

.btns button {
    width: 100%;
    font-size: 0.9rem;
}

@media screen and (max-width: 700px){
    #nav {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    #nav {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .mobile-nav {
        display: none;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px){
    .nav .nav-links {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: nowrap;
        }
}

