/* =========== public/css/base.css =========== */



* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #7b5cff, #5a7cff);
}

body {
  font-family: system-ui, sans-serif;
  width: 100vw;
  padding: 0;
  min-height: 100dvh;
  overflow: hidden;
}

h1,
h2,
h3,
p,
div {
  margin: 0;
}

/******** GLOBAL STYLES ********/
.screen {
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.hidden {
  display: none !important;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
