/*  public/css/resonsive.css */



@media (orientation: landscape) and (max-height: 300px) {

  :root {
    --card-h: 110px;
    --card-w: 80px;
    --discard-card-h: 75px;
    --discard-card-w: 55px;
  }

  .game-profile-icon {
    width: 60px;
    height: 60px;
  }

  .player-anchors .top-left { top: 3%;}

  .center-pile {
    display: flex;
    gap: 15px;
    margin-right: 22%;
    margin-bottom: 8%;
}

  #discard .corner {
    font-size: 15px;
}
#discard  .top-left-suit {
    top: 20px;
    left: 4px;
}

#discard .bottom-right {
   bottom: -12px;
    right: 6px;
    font-size: 45px;
}

.card .top-left-suit {
    top: 25px;
    left: 4px;
}

.card .bottom-right {
    font-size: 45px;
    bottom: -12px;
    right: -20px;
}

.card .center {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 20px;
}

  #round-overlay .overlay-card.round-card{
  max-height: calc(100dvh - 16px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.round-overlay-card .bottom-right {
  bottom: -10px;
  right: 4px;
  font-size: 50px;
}


.turn-indicator-ring {
  width: 100px;
  height: 100px;
}

#turn-indicator {
  width: 100px;
  height: 100px;
}

}


@media (orientation: landscape) and (min-height: 600px) {

  :root {
     --card-h: 150px;
    --card-w: 100px;
    --discard-card-h: 120px;
    --discard-card-w: 80px;
  }

  
}


@media (orientation: landscape) and (min-height: 620px) {
  :root {
     --card-h: 150px;
    --card-w: 100px;
    --discard-card-h: 120px;
    --discard-card-w: 80px;
  }

 .table-inner {
  margin-top: -5%;
 }

  #turn-indicator {
    width: 180px;
    height: 180px;
    top: 40%;
  }

  .turn-indicator-ring {
    width: 180px;
    height: 180px;
  }

  .game-profile-icon {
    width: 90px;
    height: 90px;
  }
    
  #screen-game .table {
    width: 100%;
    height: 80%;
  }
}






/* =========================
   LANDSCAPE MEDIA QUERIES
========================= */
@media (orientation: landscape) {

  .room-code-text {
    font-size: 28px; /* Larger text in landscape */
  }

  /* Adjust the spacing for mobile devices */
  .waiting-status {
    font-size: 20px;
  }
}



/* =========================
   Mobile tweaks
========================= */


/* DRAG MUST WIN */
#deck,
#discard .card {
  touch-action: none !important;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.deck-pile {
  position: relative;
}



