/* :ROOT VARIABLES */


:root {
  --card-h: 110px;
  --card-w: 80px;
  --discard-card-h: 90px;
  --discard-card-w: 70px;
  --card-radius: 8px;
  --hand-overlap: 30px;
  --meld-gap: 26px;
  --meld-inner-gap: 12px;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  --shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.4);
  --curve-scale: 0.65;
  --hud-h: 50px;
  
}